/*ABOUT*/

.about-p {
    position: relative;
    text-align: left;
    top: -2rem;
    z-index: 3;
}

.about-p p {
    position: relative;
    font-family: var(--font-text);
    margin-top: 0rem;
    font-size: 22px;
    z-index: 3;
}

.about-ol {
    font-size: 22px;
    position: relative;
    list-style: none;
    margin: 3%;
    text-align: left;
    left: -3rem;
    top: -3rem;
}

.about-ol li::before {
    content: "✦ ";
    color: var(--color1);
}


.about-img img {
    position: relative;
    display: flex;
    right: -54rem;
    top: -28rem;
    width: 39rem;
    height: 23rem;
    border-radius: 2%;
    transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease;
}

.about-img img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
    box-shadow: 0 15px 40px var(--color4);
}


/*cards about*/
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.3rem;
}

.cards-h2 {
    font-family: var(--font-text);
    color: var(--color1);
    text-shadow: 0 0 16px rgba(213, 149, 255, 0.644), 0 0 8px rgba(224, 167, 252, 0.374);
}

.about-cards {
    min-height: 550px;
    width: 83rem;
    position: relative;
    margin: 0 auto;
    padding: -12px 37px;
    cursor: pointer;
    display: flex;
    max-width: 366px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    left: -2%;
    top: -15rem;
    background: #170233b3;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 1rem;
    color: white;
    transition: 0.4s ease-in-out;
}

.about-cards:hover {
    border: 3px solid var(--color2);
    transform: translateY(-11px)scale(1.03);
    box-shadow: 10px 10px 50px var(--color1);
}

.cards-h2 {
    font-size: 2rem;
    position: relative;
    left: 0rem;
}

.card-ol {
    font-size: 20px;
    position: relative;
    list-style: none;
    left: -6rem;
    top: -2rem;
    margin: 0%;
    margin-top: 3rem;
    text-align: left;
}

.card-ol li::before,
.card2-ol li::before {
    content: "✦ ";
    color: var(--color1);
}

.card2-ol {
    font-size: 20px;
    position: relative;
    list-style: none;
    left: 1rem;
    top: -2rem;
    margin: 0%;
    margin-top: 3rem;
    text-align: left;
}

.about-cards svg {
    position: relative;
    display: flex;
    width: 120px;
    fill: var(--color1);
}

/*About history*/
.about-history {
    position: relative;
    top: -2rem;
}

.about-history p {
    position: relative;
    font-family: var(--font-text);
    margin-top: 0rem;
    text-align: left;
    z-index: 3;
}

.video-container {
    position: relative;
    padding-bottom: 28.25%;
    height: 0;
    left: 54rem;
    top: -45rem;
    width: 53%;
    pointer-events: auto;
}

.video-container iframe:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
    box-shadow: 0 15px 40px var(--color4);
}

.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: 0.4s ease-in-out;
    border-radius: 4%;
}

/*Cards history*/
.cards-award {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.3rem;
}

.about-award {
    position: relative;
    width: 49rem;
    gap: 0.5rem;
    left: -2%;
    top: -18rem;
    margin: 0 auto;
    /*padding: -12px 37px;*/
    /*max-width: 401px;*/
    cursor: pointer;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: #170233b3;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 1rem;
    color: white;
    transition: 0.4s ease-in-out;
}

.about-award svg {
    position: relative;
    top: 2rem;
    margin: 0 auto;
    left: -19rem;
    width: 115px;
    display: flex;
    fill: var(--color1);
}

.about-award:hover {
    border: 3px solid var(--color2);
    transform: translateY(-11px)scale(1.03);
    box-shadow: 10px 10px 50px var(--color1);
}

.award-h2 {
    font-family: var(--font-text);
    position: relative;
    font-size: 3rem;
    margin: -26px auto;
    top: -3rem;
    left: 4rem;
    color: var(--color1) #d1beff;
    text-shadow: 0 0 16px rgba(213, 149, 255, 0.644), 0 0 8px rgba(224, 167, 252, 0.374);
}

.award-ol,
.award2-ol {
    font-size: 20px;
    font-family: var(--font-text);
    position: relative;
    list-style: none;
    left: 2rem;
    top: -2rem;
    margin: 0%;
    margin-top: 3rem;
    text-align: left;
}

.award-ol li::before,
.award2-ol li::before {
    content: "✦ ";
    color: var(--color1);
}