.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    top: -4rem;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--color2);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;

}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);

}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--color1);
    box-shadow: 0 0 25px var(--color1),
        0 0 50px var(--color1);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-family: var(--font-text);
    letter-spacing: 2px;
    font-size: 43px;
    font-weight: 800;
    color: var(--color1);
    text-shadow: 0 0 16px rgb(213, 149, 255), 0 0 8px rgb(224, 167, 252);
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: #892be200;
    backdrop-filter: blur(7px);
    padding: 11px;
    border: 2px solid var(--color1);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 32px #5c25e3;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content img {
    width: 246px;
    height: 262px;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--color1);
}

.timeline-content h3 {
    font-family: var(--font-text);
    font-size: 36px;
    left: 2rem;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}


.disk-left,
.disk-right {
    position: absolute;
    top: -17rem;
    z-index: -1;
    animation: girar 2s linear infinite;
}

.disk-left {
    top: 2rem;
    left: 11rem;
}

.disk-right {
    right: 10rem;
    top: 2rem;
    left: auto;
}


@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.toggle-left,
.toggle-right {
    position: relative;
    background: #1702257b;
    color: white;
    font-family: var(--font-text);
    font-size: 2.0rem;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    width: 30rem;
}

.toggle-left {
    position: relative;
    left: 1rem;
    margin-top: 13px;
}

.toggle-right {
    left: 0rem;
    margin-top: 13px;
}


.toggle-left,
.toggle-right summary {
    cursor: pointer;
    font-weight: bold;
}

.toggle-left summary::marker,
.toggle-right summary::marker {
    color: var(--color4);
    content: "✧ ";
}

.toggle p {
    margin-top: 10px;
    color: #ccc;
}

.about-ol {
    font-size: 22px;
    position: relative;
    list-style: none;
    margin: 2%;
    left: 18px;
}

.about-ol li::before {
    content: "▶︎ ";
    color: var(--color1);
}

.toggle[open] {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* ALBUNS HISTORY*/
.history-albuns {
    position: relative;
    margin-top: -2rem;
    text-align: center;
}

table {
    font-family: var(--font-text);
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    border-radius: 1%;
    backdrop-filter: blur(-1px);
    background: rgba(33, 30, 30, 0.23);
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 116px;
    top: -1rem;
}

thead {
    font-size: 23px;
    background-color: #24113ba5;
    backdrop-filter: blur(-1px);
}

tbody {
    font-size: 19px;
}

th,
td {
    border: 1px solid rgb(93, 7, 192);
    padding: 15px;
    color: white;
    text-align: center;
}

th {
    color: white;
}

tr:last-child td {
    border-bottom: none;
}


@media (max-width: 750px) {
    .about-ol {
        font-size: 18px;
        position: relative;
        list-style: none;
        margin: -3%;
        left: 6px;
    }

    .toggle-left,
    .toggle-right {
        position: relative;
        font-size: 30px;
        text-align: left;
        padding: 20px;
        border-radius: 8px;
        width: 17rem;
        left: -2rem;
    }

    .timeline-items {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        top: -3rem;
        position: relative;
    }

    .timeline-date {
        position: relative;
        left: -10rem;
        top: -1rem;
        letter-spacing: 2px;
        font-size: 43px;
        font-weight: 800;
        margin: 6px 0 15px;
    }

    .timeline-items::before {
        left: 20px;
    }

    .timeline-item {
        position: relative;
        margin-bottom: 135px;
        width: 130%;
        min-height: 41rem;
        top: 3rem;
        padding-left: calc(50% + 30px);
        text-align: left;
    }

    .timeline-dot {
        left: 12px;
    }

    .timeline-content {
        position: relative;
        left: -11rem;
        width: 297px;
        height: -16px;
        padding: 47px;
        margin-left: 0;
        text-align: left;
        z-index: 12;
    }

    .timeline-content img {
        width: 167px;
        height: 165px;
    }

    .timeline-content h3 {
        position: relative;
        text-align: left;
        left: -1rem;
        font-size: 30px;
        margin: 0 0 10px;
        font-weight: 500;
    }

    .disk-left {
        top: 2rem;
        left: 6rem;
    }

    .disk-right {
        right: 1rem;
        top: 2rem;
        left: auto;
    }

    .table-responsive {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }


    .table-responsive table {
        min-width: 600px;
    }

    thead {
        font-size: 16px;
    }

    tbody {
        font-size: 14px;
    }

    th,
    td {
        padding: 21px;
         text-align: left;
    }
}