@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Tilt+Prism&display=swap');

:root {
  --font-title: "Tilt Prism", sans-serif;
  --font-text: "Iosevka Charon", monospace;
  --font-qoute: "Hammersmith One", sans-serif;
  --color1: #d1beff;
  --color2: #a020f0;
  --color3: #8a2be2;
  --color4: #9400d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

body {
  height: 100%;
  overflow-x: hidden;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

section {
  width: 80%;
  margin: 50px auto;
  min-height: 83vh;
  padding: 4rem 0% 1rem;
  color: white;
}

a {
  text-decoration: none;
  font-family: var(--font-text);
  color: white;
}

span {
  color: var(--color1);
  text-shadow: 0 0 16px rgb(213, 149, 255), 0 0 8px rgb(224, 167, 252);
  font-weight: 600;
  font-family: var(--font-text);
}

.heading-h1 {
  position: relative;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  font-family: var(--font-title);
  font-size: 6rem;
  color: var(--color1);
  text-shadow: 0 0 16px rgb(213, 149, 255), 0 0 8px rgb(224, 167, 252);
  letter-spacing: 0.3rem;
  z-index: 12;
  line-height: 1;
}

footer {
  color: white;
  font-family: var(--font-text);
  letter-spacing: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color1);
}

::-webkit-scrollbar-track {
  background: var(--color4);
}


@media (max-width: 750px) {

  .logo {
    position: relative;
    display: flex;
    top: 2%;
    left: 1%;
    width: 13%;
    height: 100%;
    z-index: 2;
  }

  .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    display: block;
    z-index: 4;
  }

  .nav-list {
    position: fixed;
    padding-top: 2rem;
    padding-bottom: 13rem;
    background: rgba(25, 0, 31, 0.754);
    backdrop-filter: blur(11px);

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    /*pointer-events: none;*/
    z-index: 2;

  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  footer {
    font-size: 10px;
    bottom: 9px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 6px;
    z-index: -1;
  }
}