.tabs {
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--color2);
    margin-bottom: 20px;
    margin-top: 128px;
}

.tab-button {
    padding: 3px 29px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
    font-family: var(--font-text);
}

.tab-button:hover {
    color: var(--color1);
}

.tab-button.active {
    border-bottom: 3px solid var(--color1);
    font-weight: bold;
}

.tab-content {
    display: none;
    animation: fade 0.3s ease-in-out;
}

.tab-content.active {
    display: block;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.members-content {
    position: relative;
    margin-top: 2rem;
}

.title-content {
    font-family: var(--font-title);
    font-size: 5rem;
    color: var(--color1);
    text-shadow: 0 0 16px rgb(213, 149, 255), 0 0 8px rgb(224, 167, 252);
    letter-spacing: 0.3rem;
    font-variation-settings: "XROT" 0, "YROT" 0;
    font-weight: 400;
    font-style: normal;
}

.text-content {
    font-family: var(--font-text);
    font-size: 1.38rem;
}

/* BT21 */
.bt21-ol {
    font-size: 1.38rem;
    position: relative;
    list-style: none;
    margin: 3%;
    text-align: left;
    left: -2rem;
    top: -1rem;
}

.bt21-ol li::before {
    content: "✦ ";
    color: var(--color1);
}

.bt21-p {
    font-family: var(--font-text);
    font-size: 1.29rem;
}

.bt21-img {
    position: relative;
    top: -41rem;
    left: 50rem;
}

.bt21-img img {
    width: 50rem;
    height: 32rem;
    transition: 0.4s ease-in-out;
}

.bt21-img img:hover {
    transform: scale(1.1);
    filter:
        drop-shadow(0 5px 10px rgba(136, 63, 185, 0.747)) drop-shadow(0 0 5px rgba(64, 5, 112, 0.582));
}

/* MEMBERS */

.members-ol {
    position: relative;
    font-family: var(--font-text);
    font-size: 22px;
    font-size: 1.38rem;
    list-style: none;
    margin: 26%;
    text-align: left;
    left: -26rem;
    top: -23rem;
}

.members-ol li::before {
    content: "✦ ";
    color: var(--color1);
}


/* RM */
.members-bt21 {
    position: relative;
    top: -69rem;
    left: 84rem;
    transform: rotate(3deg);
    z-index: 1;
}

.members-bt21 img {
    width: 21rem;
    height: 22rem;
}


.menbers-img {
    position: relative;
    top: -97rem;
    left: 61rem;
}

.menbers-img img {
    width: 27rem;
    height: 34rem;
    border-radius: 11%;
}

/* SUGA */
.menbers-suga {
    position: relative;
    top: -94rem;
    left: 61rem;
}

.menbers-suga img {
    width: 25rem;
    height: 34rem;
    border-radius: 11%;
}

.shooky-bt21 {
    position: relative;
    top: -69rem;
    left: 78rem;
    transform: rotate(3deg);
    z-index: 1;
}

.shooky-bt21 img {
    width: 21rem;
    height: 22rem;
}

/* hopi */
.menbers-hopi {
    position: relative;
    top: -96rem;
    left: 61rem;
}

.menbers-hopi img {
    width: 27rem;
    height: 34rem;
    border-radius: 11%;
}

.mang-bt21 {
    position: relative;
    top: -69rem;
    left: 1315px;
    z-index: 2;
}

.mang-bt21 img {
    width: 20rem;
    height: 22rem;
}

/* JIN */
.menbers-jin {
    position: relative;
    top: -94rem;
    left: 61rem;
}

.menbers-jin img {
    width: 25rem;
    height: 34rem;
    border-radius: 11%;
}

.rj-bt21 {
    position: relative;
    top: -62rem;
    left: 1304px;
    z-index: 2;
}

.rj-bt21 img {
    width: 21rem;
    height: 22rem;
}

/* jk */
.menbers-jk {
    position: relative;
    top: -100rem;
    left: 61rem;
}

.menbers-jk img {
    width: 23rem;
    height: 34rem;
    border-radius: 11%;
}

.cooky-bt21 {
    position: relative;
    top: -65rem;
    left: 1345px;
    z-index: 2;
}

.cooky-bt21 img {
    width: 21rem;
    height: 30rem;
}

/* V */
.menbers-v {
    position: relative;
    top: -100rem;
    left: 61rem;
}

.menbers-v img {
    width: 25rem;
    height: 34rem;
    border-radius: 11%;
}

.tata-bt21 {
    position: relative;
    top: -65rem;
    left: 1315px;
    z-index: 2;
}

.tata-bt21 img {
    width: 21rem;
    height: 30rem;
}

/* JIMIN */
.menbers-jimin {
    position: relative;
    top: -101rem;
    left: 61rem;
}

.menbers-jimin img {
    width: 20rem;
    height: 34rem;
    border-radius: 11%;
}

.chimmy-bt21 {
    position: relative;
    top: -65rem;
    left: 1216px;
    z-index: 2;
}

.chimmy-bt21 img {
    width: 21rem;
    height: 30rem;
}